.navbar {
  background-color: #1d477a !important;

  .navbar-brand {
    font-size: 28px;
    display: flex;
    padding: 0;

    .title {
      margin-top: 10px;

      .sub {
        font-style: italic;
        font-weight: 300;
      }
    }
  }
}
